<form name="searchForm">
  <div class="form-group">
    <label for="productTitle">Product title:</label>
    <input type="text" class="form-control" id="productTitle" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="productPrice">Product price:</label>
    <input name="productPrice" type="number" min="0" 
          class="form-control" id="productPrice" placeholder="0">
  </div>
  <div class="form-group">
    <label for="productCategory">Product Catagory:</label>
    <select id="productCategory" class="form-control"></select>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-primary btn-block">Search</button>
  </div>
</form>
